@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    /* COLOR */
    --orange: #F08A12;
}

/* SCHRIFT */
h1 {
    font-family: "Inter";
    font-weight: 800;
    font-size: 80px;
    color: var(--orange);
    margin: 0;
    display: inline;
}
h2 {
    font-family: "Inter";
    font-weight: 300;
    font-size: 40px;
    color: var(--orange);
    margin: 0;
    display: inline;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: clip;
}

header {
    position: absolute;
    top: 20px;
    right: 30px;
    text-align: right;
    z-index: 1000;
    display: flex;
    align-items: center;
}

main {
    position: relative;
    clip-path: inset(0);
}

img.sunicon {
    height: 160px;
    width: auto;
    margin-top: 25px;
    margin-left: 10px;
}

/* CLASSES */
.leaflet-container {
    /* mit !important überschreibt es eigenen leaflet-style */
    background-color: #CAE5F3 !important;
}

.leaflet-tile {
    filter: hue-rotate(10deg) saturate(0.7) brightness(1.1) !important;
}

.header_text {
    display: flex;
    flex-direction: column;
}

/* IDS */
#map {
    width: 100%;
    height: 100vh;
}
